*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    border:none;
    outline:none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(26, 25, 25);
}

.container{
    width:400px;
    height:min-content;
    background-color: #64645e;
    border-radius:12px;
    padding:28px;
}

.search-box{
  width:100%;
  height:min-content;
  display:flex;
  justify-content: space-between;
}

.search-box input{
    width:84%;
    font-size:20px;
    text-transform:capitalize;
    color:rgb(108, 67, 4);
    padding:12px 16px 14px;
    border-radius:14px;
    background-color: #b0dee8;
}

.search-box input::placeholder{
    color:black;
}

.search-box button{
    width:46px;
    height:46px;
}

.search-box button{
    width:46px;
    height:46px;
    background-color: #9f5252;
    border-radius:50%;
    cursor:pointer;
    font-size:20px
}

.weather-body img{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-block:20px;
}

.weather-box{
    margin-block:20px ;
    text-align:center;
}

.weather-box .temperature{
    font-size:20px;
    font-weight: 700;
    position:relative;
}

.weather-box .temperature sup{
     font-size:10px;
    font-weight: 650;
    position:absolute;
}

.weather-box .description{
 font-size:20px;
 font-weight:700;
 text-transform:capitalize; 
}